*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 100%;
}
html, body{
    overflow-x: hidden; /* Retirando a barra de bolagem da horizontal (caso apareça) */
    height: 100%;
}
input{
    border:0;
}
img{
    max-width: 100%;
}
p{
    font-size: 19px;
}
a{
    text-decoration: none;
    font-size: 19px;
    color: black;
}
h1{
    font-size: 25px;
    text-align: center;
}
hr{
    margin-top: 25px;
    margin-bottom: 20px;
}


/** Boot CSS **/

.center{
    max-width: 1280px;
    margin: 0 auto;
}
.w66{
    padding: 0 10px;
    width: 66%;
}
.w50{
    padding: 0 10px;
    width: 50%;
}
.w33{
    width: 33%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both; /* Reseta todos os floats que foram usados*/
}
.buttons{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

div.mensagem{
    margin: 15px auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #222;
    color: white;
}
div.mensagem a{
    color: white;
}
div.mensagem a:hover{
    text-decoration: underline;
}
div.green{
    background: #59d859;
}
div.red{
    background: #eb3c3c;
}
div.box-content.area-de-questoes p.total_resultados,
section.area-de-questoes div.resultados p.total_resultados{
	background-color: white;
	padding: 5px;
	margin: 15px 0;
}


/** Página de Erro **/
section.erro404 {
    text-align: center;
}

section.erro404 h1{
    border-top: 2px solid #ce3232;
    margin-top: 50px;
    font-size: 40px;
    color: #ce3232;
}

section.erro404 p{
    margin-top: 30px;
    color: black;
}

section.erro404 p a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 475px){
    .w33{
        width: 100%;
    }
}