/** Menu CSS **/

header{
    padding: 3px 0;
    background: #505BC7;
}

header .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header .logo{
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
}

.mobile{
    display: none; /* Fazendo o menu do mobile sumir */
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    font-size: 17px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop li:hover{
    font-weight: bolder;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

.logo img{
    width: 50px;
}


/** Rodapé e Erro404 CSS **/

footer{
    background-color: #2C225E;
    padding: 50px 0 15px;
}

footer div.center{
    padding: 0 20px;
    max-width: 760px;
}

footer p{
    font-weight: 400;
    color: white;
    font-size: 85%;
}

footer p a{
    font-weight: 400;
    color: white;
    font-size: 100%;
}
footer p a:hover{
    text-decoration: underline;
}

div.palavras_chaves{
    text-align: center;
    margin-bottom: 40px;
}

div.palavras_chaves p{
    display: inline-block;
}

div.palavras_chaves div.bola{
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 5px;

    background-color: #1c1f3d;
    border-radius: 50%;
}

div.contato form{
    text-align: right;
    font-size: 85%;
    color: white;
    max-width: 200px;
}

div.contato form h2{
    width: 100%;
    max-width: 200px;
}

div.contato form input,
div.contato form textarea{
    width: 100%;
    max-width: 200px;

    margin-top: 5px;
    padding: 5px;

    border: none;
}

div.contato form textarea{
    resize: none;
    height: 100px;
}

div.contato form button{
    padding: 5px;

    border: none;
    border-radius: 5px;

    background: none;
    color: white;

    cursor: pointer;
}

div.contato form button:hover{
    text-decoration: underline;
}


@media screen and (max-width: 800px){

    header{
        padding: 0;
    }

    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    nav.mobile .botao-menu-mobile{
        position: relative;
        z-index: 3;
        margin-top: 0;
    }
    nav.mobile ul{
        z-index: 2;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        text-align: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        height: 100%;
    }
    nav.mobile li{
        width: 100%;
        padding: 20px 0;
        font-size: 17px; 
    }
    nav.mobile li:first-child{
        margin-top: 75px;
    }
    nav.mobile li a {
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.87);
    }
    .botao-menu-mobile{
        cursor: pointer;
        color: white;
        font-size: 50px;
        margin-top: 10px;
    }
}


@media screen and (max-width: 450px){

    footer div.contato{
        float: unset;
        text-align: center;
    }
    div.contato form{
        margin: 0 auto;
    }
    div.contato form h2{
        float: unset;
        text-align: center;
    }
    div.contato form button{
        float: unset;
        margin-bottom: 20px;
    }

    footer div.texto{
        float: unset;
        text-align: center;
    }

}