
/** Entrar em contato **/

section.contato{
    background-image: url("../images/fundo2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 60px 0;
}

section.contato div.box-contato{
    width: 95%;
    max-width: 600px;

    margin: 0 auto;

    background: #5b65c0;
    padding: 10px 0;
}

section.contato form{
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

section.contato form input[type=text], 
section.contato form textarea{
    width: 100%;
    padding: 10px 5px;
    margin-top: 20px;
}

section.contato form textarea{
    min-height: 200px;
    resize: vertical;
    border: none;
}

section.contato form button{
    padding: 5px;
    border: none;
    background: none;
    background: #59d859;
    margin: 10px 0 40px;
    cursor: pointer;
}
section.contato form button:hover{
    font-weight: bold;
}


@media screen and (max-width: 1000px){
    
    section.contato form{
        width: 80%;
    }
}

@media screen and (max-width: 475px){

    section.contato form{
        width: 100%;
    }
}