/** Menu CSS **/

header{
    padding: 3px 0;
    background: #3D437A;
}

header .logo{
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
}

.mobile{
    display: none; /* Fazendo o menu do mobile sumir */
}

nav.desktop ul{
    list-style-type: none;
    margin-top: 30px;
}

nav.desktop li{
    font-size: 17px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

.logo img{
    width: 75px;
}


/** Banner CSS **/

section.banner-principal{
    width: 100%;
    height: 400px;
    background-size: cover; /*Fazendo o background esticar até cobrir todo o container*/
    position: relative;
}

section.banner-principal .banner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

section.banner-principal #cadastro{
    width: 93%;
    max-width: 600px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal #cadastro button{
    padding: 14px 0;
    width: 100%;
    background: #00C59E;
    color: #fff;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

section.banner-principal #cadastro button i{
    margin-right: 20px;
    margin-top: 4px;
    font-size: 25px;
}


/** Sobre Nós CSS **/

section.sobre-site{
    background: #ccc;
}

section.sobre-site h1{
    padding-top: 20px;
}

section.sobre-site p{
    padding: 20px 100px;
}


/** Cadastrar **/

section.cadastro{
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 30px 0;
}

section.cadastro div.box-cadastro{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    max-width: 500px;
    background: #5b65c0;
}

section.cadastro form{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

section.cadastro form div.text-box{
    display: block;
    margin: 0 auto;
    width: 80%;
}

section.cadastro form div.text-box input,
section.cadastro form div.text-box select{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: #666;
    border: none;
}

section.cadastro form button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: #37b937;
}


/** Login **/

section.login{
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 90px 0;
}

section.login div.box-login{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    max-width: 400px;
    background: #5b65c0;
}

section.login div.center{
    width: 100%;
    padding-top: 30px;
}

section.login form{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}

section.login form input[type=text], 
section.login form input[type=password]{
    width: 80%;
    padding: 10px 5px;
    margin-top: 20px;
    background: white;
}

section.login form a:hover{
    text-decoration: underline;
}

section.login form div.buttons{
    width: 80%;
    padding: 30px 0 60px;
}

section.login form div.buttons input{
    width: 48%;
    padding: 7px;
    cursor: pointer;
    background-color: #37b937;
}

section.login form div.buttons input[value=Apagar]{
    background-color: #ce3232;
}


/** Área do usuário **/

section.area-usuario{
    background: #ccc;
    min-height: 500px;
}

section.area-usuario h1{
    padding: 30px 0 0;
}

section.area-usuario .center{
    max-width: 1000px;
    padding-bottom: 50px;
}

section.area-usuario .center p{
    line-height: 40px;
}

section.area-usuario div.dados-questoes{
    display: block;
    width: 100%;
    margin: 0 auto;
}

section.area-usuario table.dados-pessoais{
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    margin: 20px auto 0;
    width: 100%;
    background: white;
}

section.area-usuario table.dados-pessoais th,
section.area-usuario table.dados-pessoais td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

section.area-usuario table.dados-pessoais>p{
    margin-top: 10px;
}

section.area-usuario div.dados-questoes>p{
    text-align: center;
    padding: 5px 0;
    text-decoration: underline;
}

section.area-usuario div.dados-questoes div.qtdQuestResolv{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

section.area-usuario div.dados-questoes div.qtdQuestResolv p{
    display: inline-block;
    width: 33%;
    border-radius: 7px;
    margin-left: 2px;
    background : white;
    border: 1px solid black;
}


/** Área de Questões **/

section.area-de-questoes{
    background: #ccc;
    min-height: 500px;
}

section.area-de-questoes form#form{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

section.area-de-questoes form#form input{
    padding: 5px 5px;
}

section.area-de-questoes form#form select{
    margin-top: 10px;
    padding: 5px 5px;
    border: none;
}

section.area-de-questoes form#form select+select.w33{
    margin-left: 0.5%;
}

section.area-de-questoes form#form #pesquisar-input,
section.area-de-questoes form#form #tema-input{
    width: 100%;
}

section.area-de-questoes form#form input[type=submit]{
    border: none;
    background-color: #37b937;
    padding: 3px 3px;
    cursor: pointer;
    min-width: 150px;
}

section.area-de-questoes form button[type=submit]{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    background-color: #ce3232;
    padding: 3px 3px;
    cursor: pointer;
    min-width: 150px;
}

section.area-de-questoes div.resultados{
    margin-top: 20px;
    max-width: 1000px;
}

section.area-de-questoes div.resultados h2{
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    padding-bottom: 20px;
}

section.area-de-questoes div.resultados img{
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

section.area-de-questoes div.resultados form.entrar_questao{
    margin-top: 20px;
}

section.area-de-questoes div.resultados form.entrar_questao button{
    background: none;
    border: none;
    cursor: pointer;
}

section.area-de-questoes a{
    text-decoration: none;
    color: black;
	font-style: italic;
}
section.area-de-questoes #paginacao-inicio{
    display: block; 
    text-align: center;
    margin-bottom: 20px; 
}


/** Resolução de Questões **/

section.resolvendo-questoes{
    background: #ccc;
    min-height: 500px;
}
section.resolvendo-questoes h2{
    text-align: center;
    font-size: 22px;
}

section.resolvendo-questoes h2+p{
    display: block;
    font-size: 18px;
    padding: 3px;
    margin-top: -30px;
    background-color: white;
    border-radius: 7px;
}

section.resolvendo-questoes div.center{
    max-width: 1000px;
}

section.resolvendo-questoes div.center img{
    display: block;
    margin: 10px auto;
    max-width: 500px;
}

section.resolvendo-questoes form#form_alternativas{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

section.resolvendo-questoes form#form_alternativas input[type=radio]{
    min-width: 15px;
}

section.resolvendo-questoes form#form_alternativas button{
    display: block;
    margin: 0 auto;
    padding: 3px 3px;
    border: none;
    margin-top: 13px;
    margin-bottom: 15px;
    background-color: #37b937;
    cursor: pointer;
}

section.resolvendo-questoes a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    padding: 15px 0 25px;
    cursor: pointer;
    text-align: center;
    max-width: 300px;
}

section.resolvendo-questoes a:hover{
    text-decoration: underline;
}

section.resolvendo-questoes form#navegation-bar button{
    background: none;
    border: none;
    cursor: pointer;
}

section.resolvendo-questoes p.resposta{
    text-align: center;
    font-size: 20px;
}

section.resolvendo-questoes p.resposta.green{
    color: #37b937;
}
section.resolvendo-questoes p.resposta.red{
    color: red;
}

/** Entrar em contato **/

section.contato{
    background-image: url("../images/fundo2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 60px 0;
}

section.contato div.box-contato{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    max-width: 600px;
    background: #5b65c0;
    padding: 10px 0;
}

section.contato form{
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

section.contato form input[type=text], 
section.contato form textarea{
    width: 100%;
    padding: 10px 5px;
    margin-top: 20px;
}

section.contato form textarea{
    min-height: 200px;
    margin-bottom: 40px;
    resize: vertical;
    border: none;
}


/** Rodapé e Erro404 CSS **/

footer{
    background: #313462;
    padding: 15px 0;
}

footer p{
    color: white;
    font-weight: 400;
    text-align: center;
}

section.erro404 {
    text-align: center;
}

section.erro404 h1{
    border-top: 2px solid #ce3232;
    margin-top: 50px;
    font-size: 40px;
    color: #ce3232;
}

section.erro404 p{
    margin-top: 30px;
    color: black;
}

section.erro404 p a:hover{
    text-decoration: underline;
}


/** Media para mudar o CSS**/

@media screen and (max-width: 1000px){

    header{
        padding: 0;
    }
    .logo img{
        margin-top: 7px;
        width: 50px;
    }

    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    nav.mobile .botao-menu-mobile{
        position: relative;
        z-index: 3;
        margin-top: 0;
    }
    nav.mobile ul{
        z-index: 2;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        text-align: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        height: 100%;
    }
    nav.mobile li{
        width: 100%;
        padding: 20px 0;
        font-size: 17px; 
    }
    nav.mobile li{
        width: 100%;
        padding: 20px 0;
        font-size: 17px;
    }
    nav.mobile li:first-child{
        margin-top: 75px;
    }
    nav.mobile li a {
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.87);
    }
    .botao-menu-mobile{
        cursor: pointer;
        color: white;
        font-size: 50px;
        margin-top: 10px;
    }
    section.sobre-site p{
        padding: 20px 30px;
    }
    section.contato form{
        width: 80%;
    }
    section.login form{
        width: 100%;
    }
    section.area-usuario div.dados-questoes div.qtdQuestResolv p{
        display: block;
        margin-bottom: 5px;
        width: 100%;
    }
    section.cadastro form div.text-box i{
        display: none;
    }
    section.cadastro form div.text-box input,
    section.cadastro form div.text-box select{
        width: 100%;
    }
}


@media screen and (max-width: 700px){
    section.cadastro form{
        width: 80%;
    }
    section.cadastro form div.text-box{
        width: 100%;
    }
    section.cadastro form div.buttons{
        width: 100%;
    }
    section.resolvendo-questoes h2+p{
        float: none;
        width: 200px;
        margin: 10px auto 0;
    }
}


@media screen and (max-width: 475px){
    .w33{
        width: 100%;
    }

    section.cadastro form{
        width: 100%;
    }

    section.area-de-questoes form#form select+select.w33{
        margin-left: 0;
    }
}