:root{
    --color-background-basic: #eee;

    --color-red:  #ce3232;
    --color-green:  #59d859;
    --color-text-basic: rgb(36, 41, 46);

    --color-classic-button: #C7A83C;
    --color-classic-button-secundary: #AD9334;
    --color-alternative-button: #00C59E;
    --color-alternative-button-secundary: #10b191;

    --color-menu: #505BC7;
    --color-footer:  #2C225E;
    --color-footer-secundary:  #1c1f3d; 

    font: 300 105% 'Arial', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    height: 100%;
}

input, select, button{  border: none;  }
img{  max-width: 100%;  }
hr{  margin: 25px 0;  }

a,p{  font-size: 100%;  }

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 2rem;
    text-align: center;
}


/** Boot CSS **/

.center{
    max-width: 1280px;
    margin: 0 auto;
}
.w33{
    width: 33%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both; /* Reseta todos os floats que foram usados*/
}
.buttons{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

div.mensagem{
    margin: 15px auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #222;
    color: white;
}s
div.mensagem a{
    color: white;
}
div.mensagem a:hover{
    text-decoration: underline;
}
div.green{
    background: var(--color-green);
}
div.red{
    background: var(--color-red);
}

@media screen and (max-width: 475px){
    .w33{
        width: 100%;
    }
}