
/** Área de Questões **/

section.area-de-questoes{
    background: #eee;
    min-height: 500px;
    padding: 50px 0;
}

section.area-de-questoes form#filtro{
    display: block;
    margin: 10px auto 0;
    max-width: 700px;
    text-align: center;
}

section.area-de-questoes form#filtro input,
section.area-de-questoes form#filtro select{
    margin-top: 10px;
    padding: 5px;    
    border: none;
    background: white;
}

section.area-de-questoes form#filtro select+select.w33{
    margin-left: 0.5%;
}

section.area-de-questoes form#filtro #pesquisar-input,
section.area-de-questoes form#filtro #tema-input{
    width: 100%;
}

section.area-de-questoes form#filtro input[type=submit]{
    border: none;
    background-color: var(--color-green);

    padding: 3px;
    
    min-width: 150px;

    cursor: pointer;
    transition: 0.2s;
}

section.area-de-questoes form button[type=submit]{
    display: block;
    margin: 10px auto 0;
    padding: 3px;

    border: none;
    background-color: var(--color-red);
    
    min-width: 150px;

    cursor: pointer;
    transition: 0.2s;
}

section.area-de-questoes form button[type=submit]:hover,
section.area-de-questoes form#filtro input[type=submit]:hover{
    font-weight: bolder;
    padding: 6px;
}

section.area-de-questoes div.resultados{
    margin-top: 20px;
    max-width: 1000px;
    padding: 20px 5px;
}

section.area-de-questoes div.resultados h2{
    text-align: center;
    padding-top: 10px;
    font-size: 100%;
    padding-bottom: 20px;
}

section.area-de-questoes div.resultados img{
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

section.area-de-questoes div.resultados form.entrar_questao button{
    background: none;
    border: none;
    cursor: pointer;
}
section.area-de-questoes div.resultados form.entrar_questao button:hover{
    text-decoration: underline;
}

section.area-de-questoes a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
	font-style: italic;
}
section.area-de-questoes a:hover{
    text-decoration: underline;
}

section.area-de-questoes #paginacao-inicio{
    display: block; 
    text-align: center;
    margin-bottom: 20px; 
}
section.area-de-questoes #paginacao-inicio:hover{
    text-decoration: underline;
}

div.box-content.area-de-questoes p.total_resultados,
section.area-de-questoes div.resultados p.total_resultados{
	background-color: white;
	padding: 5px;
    margin: 15px 0;
}

@media screen and (max-width: 475px){

    .w33{  width: 100%;  }

    section.area-de-questoes form#form select+select.w33{
        margin-left: 0;
    }

    div.box-content.area-de-questoes p.total_resultados,
    section.area-de-questoes div.resultados p.total_resultados{
        float: unset;
        text-align: center;
    }
}