/** Banner CSS **/

section.banner-principal{
    width: 100%;
    height: 500px;
    background-size: cover; /*Fazendo o background esticar até cobrir todo o container*/
    position: relative;
}

section.banner-principal .banner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/biblioteca.jpg");
    background-size: cover;
    background-position: center;
}

section.banner-principal #cadastro{
    width: 93%;
    max-width: 600px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal #cadastro button{
    padding: 14px 0;

    width: 100%;

    background: var(--color-alternative-button);
    color: #fff;
    font-size: 110%;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: 0.2s;
}
section.banner-principal #cadastro button:hover{
    font-weight: bold;
    padding: 20px 0;
    
    background: var(--color-alternative-button-secundary);
}

section.banner-principal #cadastro button i{
    margin-right: 20px;
    margin-top: 4px;
    font-size: 25px;
}

/** Sobre Nós CSS **/

section.sobre-site{
    background-color: var(--color-background-basic);
    padding: 50px 0;
}

section.sobre-site p{
    margin: 0 auto;
    padding: 20px;
    max-width: 760px;

    font-size: 110%;
}

@media screen and (max-width: 1000px){
    
    section.sobre-site p{  padding: 20px;  }
    
}