/** Área do usuário **/

div.menu{
	overflow-x:hidden;
    overflow-y: auto;
    
	height: 100%;
    width: 225px;
    
    padding:10px 0;
	float: left;
    
	position: fixed;
	left: 0;
    top: 0;
    
	background: var(--color-menu);
}

div.menu div.box-usuario{
    padding-bottom: 8px;
	text-align: center;
}

div.box-usuario div.botao-menu-mobile{
    display: none;
}

div.box-usuario div.botao-menu-mobile i{
    text-align: center;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

div.box-usuario .logo img{
    width: 80px;
}

div.menu div.box-links{
    border: 2px solid var(--color-footer-secundary);
    padding: 10px 0;
    text-align: center;
}

div.menu h2{
    font-size: 110%;
    padding-top: 10px;
}

div.box-links p{
	color: white;
}

div.box-links p b{
	color: var(--color-footer);
}

div.box-links div.itens:first-child{
	border-top: 2px solid var(--color-footer);
}

div.box-links div.itens a{
    display: block;
    
    text-align: center;
	text-decoration: none;
	font-weight: normal;
    color: white;
    
    border-bottom: 2px solid var(--color-footer);
    
	padding: 5px;
}

div.menu div.links{
    margin-top: 15px;
    padding: 0 5px;
}

div.menu div.links a,
div.menu div.links i{
    color: white;
}


/* Content CSS */

section.content{
    width: calc(100% - 225px);
    min-height: 100%;
    
	position: relative;
    left: 225px;
    padding: 30px;

    background: var(--color-background-basic);
}

.box-content{
	padding: 30px 7px;
	margin-bottom: 25px;
	width: 100%;
    background-color: white;
}

section.content h2{
    font-weight: 600;
    text-align: center;
}

section.content div.dados-questoes{
    padding-top: 30px;
    text-align: center;
}

div.dados-questoes h3{
    font-weight: 500;
    padding-bottom: 30px;
}

div.dados-questoes p.temas{
    display: inline-block;
    
    padding: 10px;
    border-radius: 10px;
    text-align: center;

    background-color: rgb(203, 195, 226);
    
    min-width: 200px;
}

div.dados-questoes p.temas+p.temas{
    margin-left: 10px;
}

div.dados-questoes a{
    display: block;

    margin: 0 auto;
    padding-top: 30px;

    max-width: 250px;
}
div.dados-questoes a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 800px){

    div.menu{
        overflow-y: hidden;
        
        height: auto;
        width: 100%;

        float: unset;
        
        position: unset;
    }

    div.menu div.box-links{
        display: none;
    }

    div.box-usuario div.botao-menu-mobile{
        display: block;
    }

    section.content{
        width: 100%;
        height: auto;
        
        position: unset;
    }
}

@media screen and (max-width: 500px){

    section.content{
        padding: 10px;
    }

    .box-content{
        margin-bottom: 25px;
        width: 100%;
        background-color: white;
    }

    div.dados-questoes p.temas{
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }

    div.dados-questoes p.temas+p.temas{
        margin: 0 auto;
        margin-top: 10px;
    }

}