/** Resolução de Questões **/

section.resolvendo-questoes{
    padding: 80px 0 50px;
    background: var(--color-background-basic);
    min-height: 710px;
}

section.resolvendo-questoes h2{
    text-align: center;
}

section.resolvendo-questoes h2+p{
    display: block;
    padding: 3px;
    margin-top: -30px;
    background-color: white;
    border-radius: 7px;
}

section.resolvendo-questoes div.center{
    max-width: 1000px;
    padding: 0 20px;
}

section.resolvendo-questoes div.center img{
    display: block;
    margin: 10px auto;
    max-width: 500px;
}

section.resolvendo-questoes form#form_alternativas{
    display: block;
    margin: 30px auto;
}

section.resolvendo-questoes form#form_alternativas input[type=radio]{
    min-width: 15px;
}

section.resolvendo-questoes form#form_alternativas button{
    display: block;

    margin: 50px auto 10px;
    padding: 15px 55px;

    border: none;
    background-color: var(--color-green);

    transition: 0.2s;
    cursor: pointer;
}

section.resolvendo-questoes form#form_alternativas button:hover{
    padding: 18px 58px;
    font-weight: bold;
}

section.resolvendo-questoes a{
    display: block;
    margin: 0 auto;
    padding: 15px 0 25px;

    text-decoration: none;
    text-align: center;
    color: black;

    cursor: pointer;
    
    max-width: 300px;
}

section.resolvendo-questoes a:hover{
    text-decoration: underline;
}

section.resolvendo-questoes form#navegation-bar button{
    background: none;
    border: none;
    cursor: pointer;
}

section.resolvendo-questoes p.resposta{
    text-align: center;
}

section.resolvendo-questoes p.resposta.green{
    color: var(--color-green);
}
section.resolvendo-questoes p.resposta.red{
    color: var(--color-red);
}


@media screen and (max-width: 700px){

    section.resolvendo-questoes h2+p{
        float: none;
        width: 200px;
        margin: 10px auto 0;
    }
    
}
