/** Área do usuário **/

div.menu{
	overflow-x:hidden;
    overflow-y: auto;
    
	height: 100%;
    width: 225px;
    
    padding:10px 0;
	float: left;
    
	position: fixed;
	left: 0;
    top: 0;
    
	background: var(--color-menu);
}

div.menu div.box-usuario{
    padding-bottom: 8px;
	text-align: center;
}

div.box-usuario div.botao-menu-mobile{
    display: none;
}

div.box-usuario div.botao-menu-mobile i{
    text-align: center;
    color: var(--color-white);
    font-size: 25px;
    cursor: pointer;
}

div.box-usuario .logo img{
    width: 80px;
}

div.menu div.box-links{
	margin-top: 10px;
}

div.menu h2{
    font-size: 110%;
    padding-top: 10px;
}

div.box-usuario div.nome-usuario{
	text-align: center;
	margin-top: 10px;
}

div.box-usuario div.nome-usuario p{
	color: var(--color-white);
}

div.box-usuario div.nome-usuario p b{
	color: var(--color-footer);
}

div.menu div.box-links{
	margin-top: 10px;
}

div.box-links div.itens:first-child{
    border-top: 2px solid var(--color-footer);
    margin-top: 15px;
}

div.box-links div.itens a{
    display: block;
    
    text-align: center;
	text-decoration: none;
	font-weight: normal;
    color: var(--color-white);
    
    border-bottom: 2px solid var(--color-footer);
    
	padding: 5px;
}

div.menu div.links{
    margin-top: 30px;
    padding: 0 5px;
}

div.menu div.links a,
div.menu div.links i{
    color: var(--color-white);
}



/* Content CSS */

section.content{
    width: calc(100% - 225px);
    min-height: 100%;
    
	position: relative;
    left: 225px;
    padding: 30px;

    background: var(--color-background-basic);
}

.box-content{
	padding: 30px 7px;
	margin-bottom: 25px;
	width: 100%;
    background-color: var(--color-white);
}

section.content h2{
    font-weight: 600;
    text-align: center;
}


@media screen and (max-width: 800px){

    div.menu{
        overflow-y: hidden;
        
        height: auto;
        width: 100%;

        float: unset;
        
        position: unset;
    }

    div.menu div.box-links{
        display: none;
    }

    div.box-usuario div.botao-menu-mobile{
        display: block;
    }

    section.content{
        width: 100%;
        height: auto;
        
        position: unset;
    }
}

@media screen and (max-width: 500px){

    section.content{
        padding: 10px;
    }

    .box-content{
        margin-bottom: 25px;
        width: 100%;
        background-color: var(--color-white);
    }

    div.temas_p_materia p.temas{
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }

    div.temas_p_materia p.temas+p.temas{
        margin: 0 auto;
        margin-top: 10px;
    }

}