
div.dados{
    margin: 30px auto;
    max-width: 500px;
    padding: 10px 0;

    border: 1px solid var(--color-menu);
    color: var(--color-background-basic);
    text-align: center;
    
}

a{
    text-align: center;
}