form{
    display: block;
    margin: 10px auto 20px;
    padding: 10px;

    width: 100%;
    max-width: 500px;
}

form div.text-box{
    width: 100%;
    margin-top: 20px;

    text-align: left;
    font-size: 95%;
}

div.text-box span{
    color: var(--color-red);
}

div.text-box input,
div.text-box select{
    width: 100%;

    margin-top: 8px;
    padding: 10px;

    background: #fafbfc;
    border: 1px solid #dfe1e4;
    border-radius: 5px;
    
    outline: none;
}

form a{
    display: block;

    max-width: 230px;
    margin: 0 auto;
}

form button{
    width: 100%;

    border: 0;
    border-radius: 10px;

    margin-top: 45px;
    padding: 10px;

    cursor: pointer;

    background-color: var(--color-classic-button);
    color: white;
    font-size: 110%;

    transition: background 0.2s;
}

form button:hover{
    background-color: var(--color-classic-button-secundary);
}

span.aviso{
    display: block;
    width: 100%;
    padding-top: 15px;

    text-align: center;
    color: var(--color-red);
}