/* Cadastro de Vestibular e Temas */

form#form-temas div.box-category p{
	display: inline-block;
	width: 100%;
	max-width: 340px;
}

form#form-temas div.box-category:nth-of-type(1){
	background-color: var(--color-alternative-blue);
	text-align: center;
	padding: 6px;
	margin-top: 10px;
	border-radius: 5px;
}