.center{  padding: 0 2%;  margin: 0 auto; }
.menu-wraper{  width:250px;  }
.blue{  background: #0091ea;  }
.yellow{  background: #F4B03E;  }
.red{  background: #E05C4E;  }

/* Menu CSS */

div.menu{
	overflow-x:hidden;
	overflow-y: auto;
	height: 100%;
	padding:10px 0;
	position: fixed;
	left: 0;
	top: 0;
	background: #455a64;
	float: left;
	width: 250px;
}

div.menu div.box-usuario{
    padding: 8px 0;
	text-align: center;
}

div.menu div.box-usuario div.avatar-usuario{
	text-align: left;
	display: inline-block;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid #2F3D42;
}

div.menu div.box-usuario div.avatar-usuario i{
	position: relative;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	font-size: 35px;
	color: #2F3D42;
}

div.menu div.box-usuario div.nome-usuario{
	text-align: center;
	margin-top: 10px;
}

div.menu div.box-usuario div.nome-usuario p{
	color: white;
	font-size: 15px;
}

div.menu div.box-links{
	margin-top: 10px;
}

div.menu div.box-links div.itens h2{
	background: #2F3D42;
}

div.menu div.box-links div.itens a{
	text-decoration: none;
	border-bottom: 1px solid #2F3D42;
}

div.menu div.box-links div.itens h2,
div.menu div.box-links div.itens a{
	font-weight: normal;
	font-size: 15px;
	color: white;
	padding: 8px;
	display: block;
}


/* HEADER CSS */

header{
	position: relative;
	left: 250px;
	padding: 10px 0;
	background: #78909c; 
	width: calc(100% - 250px);
}

header div.menu-btn{
	cursor: pointer;
	font-size: 23px;
    color: white;
    padding: 0 20px;
}

header a.loggout{
	padding: 0 20px;
	position: relative;
	top: 4px;
	text-decoration: none;
	color: white;
	font-size: 16px;
}


/* Content CSS */

section.content{
	width: calc(100% - 250px);
	position: relative;
	left: 250px;
	padding: 2%;
}

.box-content{
	background: white;
	padding: 30px;
	margin-bottom: 25px;
	width: 100%;
}

section.content h2{
	font-weight: 650;
}

section.content div.box-infs{
	width: 100%;
	margin: 10px 0;
}

section.content div.box-infs div.infs{
	width: calc(100% / 3 - 10px);
	color: white;
	padding: 10px;
	min-height: 95px;
	height: 100%;
	float: left;
	text-align: center;
}

section.content div.box-infs div.infs+div.infs{
	margin-left: 11px;
}


/* Painel do Adm CSS Geral*/

div.box-content form.formulario{
	margin: 10px 0;
	width: 100%;
	max-width: 800px;
	border: 1px solid black;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 20px;
	color: white;
}

div.box-content form h2{
	text-align: center;
	padding-bottom: 5px;
}

div.box-content form div.box-category{
	width: 100%;
	margin: 30px 0;
}

div.box-content form#form-disser div.box-category:nth-of-type(3){
	text-align: center;
}

div.box-content form div.box-category input{
	margin: 5px 0;
	width: 98%;
	padding: 7px;
}

div.box-content form div.box-category textarea{
	margin: 5px 0;
	width: 98%;
	padding: 7px;
	resize: vertical;
}

div.box-content form div.box-category span{
	font-size: 12px;
}

div.box-content form div.box-category label{
	padding-top: 10px;
}

div.box-content form div.buttons{
	width: 100%;
	text-align: center;
	padding: 5px;
}

div.box-content form div.buttons button{
	margin-top: 10px;
	width: 95%;
	max-width: 275px;
    padding: 7px;
    cursor: pointer;
	background-color: #37b937;
	border: none;
}
div.box-content form div.buttons button:hover{
    font-weight: bold;
}


/* Home Painel CSS*/

div.box-content table.home tr th,
div.box-content table.home tr td{
	text-align: start;
}


/* Usuários cadastrados CSS */

section.content div.box-infs div.infs.userCad{
	width: calc(100% / 2 - 5px);
}
section.content div.box-infs div.infs.userCad:nth-of-type(2){
	margin: 0;
	margin-left: 10px;
}
section.content div.box-infs div.infs.userCad:nth-of-type(3){
	margin: 10px 0;
	width: 100%;
}


/* Cadastrar Questões CSS */

div.box-content form div.box-category input[type=file]{
	width: 100%;
	max-width: 500px;
}

div.box-content form div.box-category input[type=number],
div.box-content form div.box-category select{
	width: 47.5%;
	padding: 5px;
	border: none;
}


/* Cadastro de Vestibular e Temas */

div.box-content form#form-temas div.box-category p{
	display: inline-block;
	width: 100%;
	max-width: 340px;
	font-size: 17px;
}

div.box-content form#form-temas div.box-category:nth-of-type(1){
	background-color: #00426B;
	text-align: center;
	padding: 6px;
	margin-top: 10px;
	border-radius: 5px;
}


/* Cadastrar Administrador CSS */

div.box-content table{
	width: 100%;
	text-align: center;
	border-spacing: 0;
	border-collapse: unset;
	margin-top: 20px;
}

div.box-content table tr:nth-of-type(1){
	background: #00bfa5;
	color: white;
}

div.box-content table tr td,
div.box-content table tr th{
	padding: 8px;
}

div.box-content table tr td{
	border-bottom: 1px solid #ccc;
} 

div.box-content table tr td button{
	background: none;
	border: none;
	color: #E05C4E;
	cursor: pointer;
	font-size: 22px;
}

div.box-content table tr td form.form_delete_adm{
	padding: 0;
	margin: 0;
	border: none;
}


/* Exibir Questões */

div.box-content.area-de-questoes{
    background: #ccc;
}

div.box-content.area-de-questoes form{
    display: block;
	text-align: center;
	border: none;
	padding: 0;
}

div.box-content.area-de-questoes form#form input{
    padding: 5px 5px;
}

div.box-content.area-de-questoes form#form select{
    margin-top: 10px;
    padding: 5px 5px;
    border: none;
}

div.box-content.area-de-questoes form#form select+select.w33{
    margin-left: 0.5%;
}

div.box-content.area-de-questoes form#form #pesquisar-input,
div.box-content.area-de-questoes form#form #tema-input{
    width: 100%;
}

div.box-content.area-de-questoes form#form input[type=submit]{
    border: none;
    background-color: #37b937;
    padding: 3px 3px;
    cursor: pointer;
    min-width: 150px;
}

div.box-content.area-de-questoes form button[type=submit]{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    background-color: #ce3232;
    padding: 3px 3px;
    cursor: pointer;
    min-width: 150px;
}

div.box-content.area-de-questoes form#form input[type=submit]:hover,
div.box-content.area-de-questoes form button[type=submit]:hover{
    font-weight: bold;
}

div.box-content.area-de-questoes div.resultados{
    margin-top: 20px;
}

div.box-content.area-de-questoes div.resultados h2{
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    padding-bottom: 20px;
}

div.box-content.area-de-questoes div.resultados img{
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

div.box-content.area-de-questoes div.resultados form.entrar_questao{
	margin-top: 20px;
}

div.box-content.area-de-questoes div.resultados form.entrar_questao button{
    background: none;
    border: none;
    cursor: pointer;
}
div.box-content.area-de-questoes div.resultados form.entrar_questao button:hover{
    text-decoration: underline;
}

div.box-content.area-de-questoes a{
    text-decoration: none;
    color: black;
	font-style: italic;
}
div.box-content.area-de-questoes a:hover{
    text-decoration: underline;
}

div.box-content.area-de-questoes #paginacao-inicio{
    display: block; 
    text-align: center;
    margin-bottom: 20px; 
}
div.box-content.area-de-questoes #paginacao-inicio:hover{
    text-decoration: underline;
}


/* Gerar Relatórios */

div.box-content div.reports div.infs{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

div.box-content div.reports div.infs.red,
div.box-content div.reports div.infs.blue{
	margin-left: 11px;
}


/* Relatórios CSS */

div.box-content.box-graphi{
	padding: 0;
}

div.box-content.box-graphi div.graphis{
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

div.box-content.box-graphi div.graphis div.element{
	width: 49%;
	display: inline-block;
}

div.box-content.box-graphi div.graphis div.element h2{
	padding-top: 30px;
}


/* Excluir Vestibular ou Tema CSS*/

div.box-content form#form-vestib div.box-category div.element{
	border-bottom: 1px solid #c0954b;
	margin-top: 20px;
}

div.box-content form#form-vestib div.box-category div.element button{
	border: none;
	background: none;
	color: #E05C4E;
	font-size: 25px;
	cursor: pointer;
}


/* Media para telas de diferentes tamanhos */

@media screen and (max-width: 1023px){

	div.box-content form div.box-category input[type=number],
	div.box-content form div.box-category select{
		width: 98%;
		padding: 7px;
	}
	div.box-content form div.box-category select{
		margin: 5px 0;
	}
}

@media screen and (max-width: 768px){
	.box-content{
		padding: 10px;
	}
	.content{
		width: 100%;
		left: 0;
	}
	header{
		left: 0;
		width: 100%;
	}
	div.box-content form{
		padding: 2px;
	}
	div.box-content form div.box-category input[type=number],
	div.box-content form div.box-category select,
	div.box-content form div.box-category input{
		width: 96%;
	}
	section.content div.box-infs div.infs{
		width: 100% !important;
	}
	section.content div.box-infs div.infs+div.infs {
		margin: 0 !important;
		margin-top: 10px !important;
	}
	div.box-content div.reports div.infs.red,
	div.box-content div.reports div.infs.blue{
		margin: 0 ;
		margin-top: 10px;
	}
	div.box-content.box-graphi div.graphis div.element{
		width: 100%;
		display: block;
	}
}

@media screen and (max-width: 475px){
    
    div.box-content form.formulario{
        padding: 2px;
    }
}

@media screen and (min-height: 850px){
    div.menu div.box-links div.itens h2, 
    div.menu div.box-links div.itens a{
        padding: 15px;
    }
}